body {
    font-family: sans-serif;
}
header {
    padding: 10px;
     

    background-color: lightblue;
}
header a {
    background-color: white;
    margin: 30px;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    
}
.a {
    color: orange;
}
footer {
border: 7px solid #FFA07A;
}
footer  p  {
    border: 7px solid #FFA07A;

}
nav {
    border: 1px solid blue;
    padding: 5px;
}
nav a {
      margin: 30px;
      text-decoration: none;
}
.dada{
    background-color: #FFA07A;
    border-radius: 20px ;
}
.ll {
    color: ;
}
